<html>
<head>
	<title>It's Monkey Time</title>
	<%- include('header.ejs') %>
</head>

<body>

<hl>There are many types of monkeys, and they are all very cool...</hl>

<a href="write/">Write a post</a>
<%- include('navbar.ejs') %>

</body>

</html>