<html>

<head>
	<title>Welcome to the Monkey Jungle!</title>
	<%- include('header.ejs') %>
</head>

<body>
	<div id="mainpanel">

Famous monkeys include:

<ol>
	<li>Pan-Kun</li>
	<li>Albert II</li>
	<li>Uncle Fatty</li>
	<li>Harambe</li>
</ol>
</div>

	<%- include('navbar.ejs') %>
</body>
</html>