<html>

<head>
<title>Welcome to the Monkey Jungle!</title>
</head>

<body>

Monkeys, Great Apes, Chimps, and all primates inbetween are truly astonishing. <a href="famous.ejs"> They make me very happy. </a>

</body>
</html>