<html>

<head>
	<title>Welcome to the Monkey Jungle!</title>
	<%- include('header.ejs') %>
</head>

<body>

	<div id="mainpanel">
Monkeys, Great Apes, Chimps, and all primates inbetween are truly astonishing. <a href="famous"> They make me very happy.  </a>
</div>
	<%- include('navbar.ejs') %>

</body>
</html>